.wrapper {
 width: 90%;
 min-height: 50vh;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Montserrat';
 font-style: normal;
    .loading{
        text-align: center;
        margin: auto 0;
        font-size: 3rem;
        color:#4c5f6b;
    }
    .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    height: 250px;
    background: #c4c4c4;
    border: 2px solid #ffffff;
    margin: 20px;
    button {
    width: 167px;
    height: 49px;
    background: #c4c4c4;
    border: 2px solid #ffffff;
    color: white;
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 17px;
    letter-spacing: -0.015em;
    margin-right: auto;
    color: #ffffff;
    a {
        text-decoration: none;
        color: #ffffff;
        }
    }
    &Data {
    width: 75%;
    height: 90%;
    margin: 10px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-right: 10%;
    &_text{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        h1 {
            width:70%;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            margin: 5px 0;
            }
        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 8px 0;
            }
        span {
            color: black;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin: 5px 10px;
            }
        p {
            width:25%;
            font-weight: normal;
            font-size: 1rem;
            line-height: 17px;
            color: black;
            }
        }
    }
    }
    @media (max-width: 1250px) {
        width: 100%;
        .card{
            height: 300px;
        &Data{
            width: 98%;
            margin: 0.2rem;
            &_text{
                flex-direction: column;
                text-align: center;
                h1, h2{
                    width: 90%;
                    margin: 0.2rem 0;
                    }
                p{
                    width: 50%;
                    margin: 0.5rem 0;
                    }
                span{
                    color:white;
                    font-size: 1.5rem;
                }
                }
            }
            button{
                margin-top: 15px;
            }
        }
        .loading{
            font-size: 1.8rem;
            width: 85%;
        }
    }
}