.inputLong {
 width: 90%;
 min-height: 40px;
 background: #efefef;
 border: none;
 margin-bottom: 20px;
 text-align: center;
 font-weight: 600;
 font-size: 36px;
 line-height: 36px;
 letter-spacing: -0.015em;
 color: #33658a;
 margin-right: 10px;
 &::placeholder {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.7);
 }
 &:focus {
  outline: none;
  border: 1.5px solid #33658a;
 }
 @media (max-width: 1250px) {
     min-height: 35px;
     font-size: 28px;
     &::placeholder {
         font-size: 26px;
     }
 }
}

.inputShort {
 @extend .inputLong;
 width: 44%;
 @media (max-width: 1200px) {
  width: 90%;
 }
}
