.wrapper {
 width: 100%;
 min-height: 83vh;
 display: flex;
 justify-content: center;
 font-family: 'Montserrat';
 font-style: normal;
 .addContact {
  width: 55%;
  min-height: 737px;
  background: #c4c4c4;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  box-shadow: 0 5px 10px 5px grey;
  position: relative;
  &Text {
   width: 90%;
   text-align: center;
   letter-spacing: -0.015em;
   color: #ffffff;
   margin-bottom: 20px;
   h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
   }
   span {
    font-weight: 600;
    font-size: 20px;
   }
   a {
    position: absolute;
    top:10px;
    right: 15px;
    .crossBtn {
    outline: none;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    }
   }
  }
  &Form {
   @extend .addContactText;
   &Part {
    margin-bottom: 10px;
   }
  }
 }
 .buttonAdd {
  width: 241px;
  height: 49px;
  border: 3px solid #ffffff;
  background: #c4c4c4;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.015em;
  
  cursor: pointer;
  margin: 0 auto;
  outline: none;
  a {
   text-decoration: none;
   margin: 0;
   color: white;
  }
  &:active {
   transition: width 0.2s;
   background: #d5d5d5;
  }
 }
 @media (max-width: 1200px){
    .addContact{
        width: 95%;
        &Text{
            width: 100%;
            a{
                top:10px;
                right:10px;
                .crossBtn {
                    width: 40px;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            h1{
                margin-top: 3rem;
            }
            input{
                margin-right: 0;
            }
        }
        button{
            margin-bottom: 1rem;
        }
    }
 }
}
