.wrapper {
 width: 100%;
 height: 67vh;
 display: flex;
 justify-content: center;
 font-family: 'Montserrat';
 font-style: normal;
 font-family: 'Montserrat', sans-serif;
}
.loggIn {
 width: 60%;
 min-height: 467px;
 display: flex;
 align-self: center;
 margin-top: 3rem;
 margin-bottom: auto;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 background: #c4c4c4;
 border: 3px solid #ffffff;
 @media (max-width: 1250px) {
  width: 80%;
 }
 .title {
  height: 50px;
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin: 10px 0;
  justify-self: self-start;
 }
 form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}

.singInText {
 font-style: normal;
 font-weight: 600;
 font-size: 24px;
 line-height: 36px;
 letter-spacing: -0.015em;
 color: #ffffff;
 @media (max-width: 1000px) {
  text-align: center;
 }
}
.singInBtn {
 @extend .singInText;
 color: #33658a;
 border: none;
 background: transparent;
 cursor: pointer;
}
